body{
    padding: 50px 100px;
}

h1{
    text-align: center;
}

#container{
    text-align: center;
    background-color: #25dbcc;
    padding: 50px;
}

.input-div {
    display: inline-block;
}

.inp {
    padding: 5px 12px;
    margin: 10px;
    font-size: 2.5rem;
    width: 300px;
    font-weight: 600;
    text-align: center;
}

label{
    font-size: 2rem;
    color: #374948;
}